.main-layout {
  width: 50vw;
  min-width: 50vw;
}

/* ============= FONTS HEADINGS ================ */
.heading-l {
  font-size: 6.4rem;
  line-height: 7.7rem;
  font-weight: 700;
}

.heading-m {
  font-size: 2.4rem;
  line-height: 2.9rem;
  font-weight: 400;
}

.heading-s {
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.4rem;
}

/* Bodys */
.body-m {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 2.4rem;
}

.body-s {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.7rem;
}

/* =========== FONTS HEADINGS ============= */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-controls {
  display: flex;
  gap: 2.4rem;
}

.custom-dropdown {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  cursor: pointer;
  position: relative;
  min-width: 12rem;
  justify-content: end;
}

.custom-dropdown-title {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 2.4rem;
}

/* TODO: Check to modify this */
.custom-dropdown > .custom-dropdown-list {
  width: 0;
  height: 1px;
  opacity: 0;
  visibility: hidden;
}

.custom-dropdown > .custom-dropdown-list.drop-active {
  width: auto;
  height: auto;
  opacity: 1;
  visibility: visible;
}

.custom-dropdown-list {
  list-style: none;
  position: absolute;
  top: 3.3rem;
  left: -50%;
  padding: 2.4rem;
  padding-right: 6.4rem;
  border-radius: 1rem;
  background: var(--color-white);
  box-shadow: 0 0.5rem 1rem var(--shadow-color);
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  z-index: 1;
  transition: 0.4s;

  font-size: 1.8rem;
  font-weight: 700;
  line-height: 2.4rem;
}

.custom-dropdown-list-item[data-value="'Inter', sans-serif"] {
  font-family: "Inter", sans-serif;
}

.custom-dropdown-list-item[data-value="'Lora', serif"] {
  font-family: "Lora", serif;
}

.custom-dropdown-list-item[data-value="'Inconsolata', monospace"] {
  font-family: "Inconsolata", monospace;
}

.custom-dropdown-list-item.text-active {
  color: var(--color-purple);
}

.custom-dropdown-list-item:hover {
  color: var(--color-purple);
}

input[type="checkbox"] {
  position: relative;
  appearance: none;
  width: 4rem;
  height: 2rem;
  background: #757575;
  border-radius: 1rem;
  cursor: pointer;
  outline: none;
  transition: 0.4s;
}

input:checked[type="checkbox"] {
  background: var(--color-purple);
}

input[type="checkbox"]::after {
  position: absolute;
  content: "";
  outline: none;
  width: 1.4rem;
  height: 1.4rem;
  top: 50%;
  left: 10%;
  background: var(--color-white);
  border-radius: 50%;
  box-shadow: 0 0 5px var(--shadow-color);
  transition: 0.4s;
  transform: translateY(-50%);
}

input:checked[type="checkbox"]::after {
  left: calc(100% - 2rem);
}

.line-separator {
  width: 1px;
  background-color: var(--section-separator-color);
}

.theme-controls {
  display: flex;
  gap: 2rem;
  align-items: center;
}

/* SEARCH INPUT */
.search-box {
  position: relative;
  margin-top: 4.8rem;
}

.input-search {
  font-size: 2rem;
  line-height: 2.4rem;
  font-weight: 700;
  width: 100%;
  background: var(--input-background-color);
  padding: 2.4rem;
  outline: none;
  border: none;

  color: var(--color-black);
  border-radius: 1.6rem;
}

.input-search::placeholder {
  opacity: 0.25;
}

.search-box > .input-search__icon {
  position: absolute;
  width: 1.6rem;
  height: 1.6rem;
  top: 50%;
  right: 2.5%;
  transform: translateY(-50%);
}

.input-error-message {
  display: inline-block;
  padding-left: 1rem;
  margin-top: 0.8rem;
  color: var(--color-red);
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.4rem;
}

/* WORD OVERVIEW SECTION */
.word-overview {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 4.4rem;
}

.word-search {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.word-search__music {
  color: var(--color-purple);
}

/* Manage the play music icon manually */
.word-search__icon {
  cursor: pointer;
}

.word-search__icon > g > circle {
  transition: all 0.1s ease-in;
}

.word-search__icon:not(.active) > g > circle {
  opacity: 0.25;
}

.word-search__icon:is(.active) > g > circle {
  opacity: 1;
}

.word-search__icon:is(.active) > g > path {
  fill: #fff;
}

/* Title separator */
.word-definitions {
  margin-top: 5rem;
}

.title-separator {
  display: flex;
  align-items: center;
  gap: 2rem;

  font-weight: 700;
  color: var(--color-black);
  font-style: oblique 13deg;
}

.title-separator::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: var(--section-separator-color);
}

.word-definition__title {
  color: var(--color-gray);
}

.word-definition__list {
  display: flex;
  margin-top: 2.4rem;
  flex-direction: column;
  margin-left: 2.4rem;
  gap: 1.3rem;
}

.word-definition__item {
  padding-inline-start: 1rem;
  line-height: 1.5;
}

.word-definition__item::marker {
  color: var(--color-purple);
}

.word-definition__item > span {
  display: inline-block;
  margin-top: 1.2rem;
  color: var(--color-gray);
}

.word-synonyms {
  margin-top: 6rem;
  display: flex;
  gap: 2.4rem;
  align-items: center;
}

.word-synonyms__list {
  display: flex;
  gap: 1.2rem;
  list-style: none;
  color: var(--color-purple);
  font-size: 2rem;
  line-height: 2.4rem;
  font-weight: 700;
}

footer > hr {
  background-color: var(--section-separator-color);
  border: var(--section-separator-color);
  height: 1px;
}

.word-reference {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-top: 2rem;
}

.word-reference > span,
a {
  text-decoration-line: underline;
  text-decoration-color: var(--color-gray-light);
  text-underline-offset: 0.3rem;
}

.word-reference > span {
  color: var(--color-gray);
}

.word-reference__link {
  color: var(--color-black);
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.word-reference__link::after {
  content: url("images/icon-new-window.svg");
}

/* =========== NO RESULTS PAGE =========== */
.no-results {
  margin-top: 11rem;
  display: grid;
  place-items: center;
}

.no-results__emoji {
  font-size: 6.4rem;
}

.no-results__text {
  margin-top: 3.2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.no-results__title {
  color: var(--color-black);
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 0.5px;
  line-height: 2.4rem;
  text-transform: capitalize;
}

.no-results__paragraph {
  color: var(--color-gray);
}

/* UTILS VARIABLES */
.mt-4 {
  margin-top: 4rem;
}
