/* General Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* CSS at-rules */
@font-face {
  font-family: "Inter";
  src: url("/fonts/inter/Inter-VariableFont_slnt\,wght.ttf"),
    url("/fonts/inter/static/Inter-Regular.ttf"),
    url("/fonts/inter/static/Inter-Bold.ttf");
  font-weight: 100 900;
}

@font-face {
  font-family: "Lora";
  src: url("/fonts/lora/Lora-Italic-VariableFont_wght.ttf"),
    url("/fonts/lora/Lora-Italic-VariableFont_wght.ttf"),
    url("/fonts/lora/static/Lora-BoldItalic.ttf"),
    url("/fonts/lora/static/Lora-Regular.ttf"),
    url("/fonts/lora/static/Lora-Bold.ttf");
  font-weight: 100 900;
}

@font-face {
  font-family: "Inconsolata";
  src: url("/fonts/inconsolata/Inconsolata-VariableFont_wdth\,wght.ttf"),
    url("/fonts/inconsolata/static/Inconsolata-Regular.ttf"),
    url("/fonts/inconsolata/static/Inconsolata-Bold.ttf");
  font-weight: 100 900;
}

/* General variables */
:root {
  /* Colors */
  --color-red: hsl(0, 100%, 66%);
  --color-purple: hsl(274, 82%, 60%);
  --color-white: #fff;

  /* Shadows */
  --shadow-color: rgba(0, 0, 0, 0.2);

  /* Font family */
  --font-family: "Inter", sans-serif;
}

/* General styles */
body {
  display: grid;
  place-items: center;
  padding-top: 5.6rem;
}
